/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2025, 9:34:17 AM
    Author     : GIGABYTE
*/

/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

container h2 {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #007bff;
    color: white;
}

td {
    background: #fff;
}

button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin: 3px;
}

button[name="action"][value="accept"] {
    background-color: #28a745;
    color: white;
}

button[name="action"][value="reject"] {
    background-color: #dc3545;
    color: white;
}

button:hover {
    opacity: 0.8;
}
